<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('/images/login_wallpaper.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .card {
            background-color: #CAF4D7;
            border: 6px outset #CAF4D7;
        }

        .card-body {
            background-color: white;
            padding: 10%;
        }

        .form-control {
            border-color: #CBBBE7;
        }

        .btn-primary {
            background-color: #CBBBE7;
            border-color: #CBBBE7;
        }

        .btn-primary:hover {
            background-color: #B7A4C0;
            border-color: #B7A4C0;
        }
    </style>
</head>
<body class="bg-light">
  <div class="container">
    <!-- Align the login box to the middle of the page -->
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-md-6 col-lg-4">
        <!-- Bootstrap card for login form -->
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center">PFS Login In</h1>
            <form action="/login" method="POST">
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required class="form-control" placeholder="Enter username">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required class="form-control" placeholder="Enter password">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
