<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Success</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center">Password Reset Successful</h1>
            <p class="text-center">Your password has been changed successfully.</p>
            <div class="text-center">
              <a href="/login" class="btn btn-primary">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
